doctype html
html
  head
    meta(charset='utf-8')
    title eCommerce
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 eCommerce
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') Faq
        li: a(href='/items') Items Page

    form(method='post', action='/items')
    table
      tr
        td
          input(name='name', type='text', placeholder='Item', autofocus=true)
        td
          input(name='dimensions[l]', type='number', placeholder='length')
        td
          input(name='dimensions[w]', type='number', placeholder='width')
        td
          input(name='dimensions[h]', type='number', placeholder='height')
        td
          input(name='weight', type='number', placeholder='weight')
        td
          input(name='color', type='color', placeholder='color')
        td
          input(name='quantity', type='number', placeholder='quantity')
        td
          input(name='msrp', type='number', placeholder='MSRP')
        td
          input(name='percentOff', type='number', placeholder='percentOff')
      button Add Item to Database
